.header{
    /* background-color: #13A89E; */
    background-color: #4B2980;
    color: white;

    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border-bottom: 4px solid black;
}

.nameTitle{
    display: flex;
    width:fit-content;
    flex-direction: column;

}

.univName {
    font-weight: 700;
    font-size: 1.5rem;

}

img{
    width: 7rem;
}

.campus{
    font-weight: 500;
    font-size: 1.1rem;
}

.sectionName{
    font-size: 1rem;
    text-align: center;
    padding: 10px 10px;

    font-weight: 500;
    border: 2px solid black;
    color: white;
    /* background-color:#4B2980; */
    background-color:#13A89E;
    font-weight: 700;

    transition: background-color 0.3s ease; /* Smooth background color transition */      
    
}

.sectionName:hover{
    background-color:#31d5ca;
    
    
    cursor: pointer;
}

.sectionName:active{
    background-color:#117f78;
    
    cursor:default;
}
